<nc-authentication-overlay>
  <div class="auth-language" fxLayout="row" fxLayoutAlign="end center">
    <app-etask-language-selector [language]="currentLanguage"></app-etask-language-selector>
  </div>

  <div class="fill-all-space" fxLayout="row" fxLayoutAlign="center center">
    <div class="auth-card" fxLayout="column" fxLayoutAlign="start stretch" fxLayoutGap="16px">

      <div class="auth-title">{{ 'auth.reset.title' | translate }}</div>

      <ng-container *ngIf="sent; else form">
        <div class="auth-message">{{ 'auth.reset.sentInfo' | translate }}</div>
        <button mat-raised-button color="primary" (click)="toLogin()">
          {{ 'auth.backToLogin' | translate }}
        </button>
      </ng-container>

      <ng-template #form>
        <div class="auth-message">{{ 'auth.reset.intro' | translate }}</div>
        <!--
            Sipka spat vo formulari (`goBackButton`) vedie na prihlasenie -
            kniznica ju vykresli vzdy a bez naviazania by neurobila nic.
        -->
        <nc-email-submission-form [displayLegalNotice]="false"
                                  (formSubmit)="onSubmit($event)"
                                  (goBackButton)="toLogin()"></nc-email-submission-form>
      </ng-template>

    </div>
  </div>
</nc-authentication-overlay>
