.task-panel-icon {
  margin-right: 10px;
}

.workflow-panel-footer {
  border-top: 1px solid var(--app-border);
  padding: 5px 24px;
}

.workflow-panel-body {
  padding: 10px 24px;
}

.workflow-panel-icon {
  margin-right: 8px;
}

